div{
    width: 300px;
    height: 300px;
    border: 2px black;
    border-radius: 10px;
    padding: 20px;
    margin: 20px;
    text-align: center;
    line-height: 1opx;

}

img{
    height: auto;
    width: 200px;

}