
table {
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 1100px;
}

table td, table th {
    border: 1px solid #ddd;
    padding: 8px;
}

table tr:nth-child(even){background-color: #f2f2f2;}

table tr:hover {background-color: #ddd;}

table th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #04AA6D;
    color: white;
}

input[type=text], select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;

}

input[type=submit]{
    width: 100%;
    background-color: #04AA6D;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;

}

input[type=submit]:hover {
    background-color: #04AA6D;

}

#footer {
    position: absolute bottom;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: rgb(125, 112, 112);
    color: rgb(199, 189, 189);
    text-align: center;
    padding: 20px;

}

label {
    display: block;
    font:
    1rem 'Fira Sans',
    sans-serif;
}

input, label {
    margin: 0.4rem 0;
}

#questionario{
    width: 300px;
    height: auto;

}
