@font-face{
    font-family: "ConsolaMono-Bold";
    src: url("ConsolaMono-Bold.ttf")
}

#background{
    background-image: url(lightning.jpg);

}

.center{
    margin-left: auto;
    margin-right: auto;

}

h1{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: #000000;
}

#logo{
    height: auto;
    width: 300px;

}

a{
    font-size: larger;
    font-family: "ConsolaMono-Bold";
    color: #4d4949;
}

h2{
    border: #fffb00;
    text-align: center;
    font-family: 'Bison'

}

img{
    height: auto;
    width: 200px;

}

table {
    border-collapse: collapse;
    text-align: center;
    text-shadow: #0e0d0d;
}

table td {
    border: 2px solid rgb(0, 0, 0);
    font-family: "ConsolaMono-Bold";
    -webkit-text-stroke: 0.5px #ffffff;
    color: #000000;
}

table th {
    border: 2px #ffffff;
    background: #000000;
    color: #fffb00;
    font-family: 'Tahoma';
}

#botao{
    background-color: #ff0000;
    color:#ffffff

}